.credit-panel {
    width: min(100%, 540px);
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
    margin: 0 auto;
    padding: 4rem 0;
}

.credit-intro {
    text-align: center;
}

.credit-intro > h2 {
    text-transform: uppercase;
    color: #747264;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 18px 0;
}

.credit-intro > p {
    color: #747264;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 18px 0;
}