@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
:root {
    --primary: #134B70;
    --secondary: #F7DCB9;
    --tertiary: #9CDBA6;
}

.maintenance-wrapper {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(120deg, rgba(40,40,37,1) 0%, rgba(32,17,73,1) 50%, rgba(0,18,46,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 0;
    gap: 4rem 0;
}

.maintenance-wrapper .logo {
    width: 300px;
    aspect-ratio: 1;
    display: flex;
    flex-wrap: wrap;
    border-radius: 16px;
}

.maintenance-wrapper > label {
    font-size: 12px;
    line-height: 1;
    text-align: center;
    display: block;
    padding: 0 12px;
}

.maintenance-wrapper .logo > span {
    display: inline-flex;
    flex-basis: 150px;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    line-height: 1;
    font-weight: bold;
    cursor: default;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #0000ff, 0 0 20px #0000ff, 0 0 25px #0000ff, 0 0 30px #0000ff, 0 0 35px #0000ff;
    animation: glowingtext 5s linear infinite;
}

.maintenance-wrapper > .maintenance-content {
    padding: 1.5rem;
    width: min(100%, 540px);
    text-align: center;
    flex: 1;
}

.maintenance-wrapper > .maintenance-content > h1 {
    font-size: 24px;
    line-height: 1;
    display: flex;
    gap: 0 12px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    align-items: center;
    font-weight: bold;
    letter-spacing: 3px;
    color: #F5004F;
    animation: blinking 3s linear infinite;
    justify-content: center;
}

.maintenance-wrapper > .maintenance-content > h1::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #F5004F;
    animation: blinking-bg 3s linear infinite;
}

.maintenance-wrapper > .maintenance-content > p {
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    line-height: 1.2;
}

@keyframes blinking {
    0%, 40%, 60%, 80%, 100% {
        color: #F5004F;
    } 50%, 90% {
        color: transparent;
    }
}

@keyframes blinking-bg {
    0%, 40%, 60%, 80%, 100% {
        background: #F5004F;
    } 50%, 90% {
        background: transparent;
    }
}

@keyframes glowingtext {
    0%, 100% {
        text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #0000ff, 0 0 20px #0000ff, 0 0 25px #0000ff, 0 0 30px #0000ff, 0 0 35px #0000ff;
    } 30%, 80% {
        text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #0000ff, 0 0 40px #0000ff, 0 0 50px #0000ff, 0 0 60px #0000ff, 0 0 70px #0000ff;
    }
}

@keyframes typing {
    0% {
        max-width: 0;
    } 100% {
        max-width: 100%;
    }
}

@keyframes terminal {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%);
    } 8.5% {
        opacity: 1;
        transform: translate(-50%, -42%);
    } 91.5% {
        opacity: 1;
        transform: translate(-50%, -42%);
    } 100% {
        opacity: 0;
        transform: scaleY(0);
    }
}

@keyframes mmov-t {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

@keyframes capt {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

@keyframes sound {
    0%, 100% {
        transform: scaleY(1);
    } 25% {
        transform: scaleY(1.2);
    } 60% {
        transform: scaleY(1.4);
    } 80% {
        transform: scaleY(0.5);
    }
}

@keyframes sound2 {
    0%, 100% {
        transform: scaleY(1);
    } 25% {
        transform: scaleY(0.6);
    } 60% {
        transform: scaleY(1.1);
    } 80% {
        transform: scaleY(0.8);
    }
}