.maintenance-wrapper {
    width: 100%;
    min-height: 100vh;
    background: #072149;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 0;
    gap: 4rem 0;
}

.maintenance-wrapper .logo {
    width: 300px;
    aspect-ratio: 1;
    display: flex;
    flex-wrap: wrap;
    border-radius: 16px;
    border: 5px solid white;
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #0000ff, 0 0 20px #0000ff, 0 0 25px #0000ff, 0 0 30px #0000ff, 0 0 35px #0000ff;
}

.maintenance-wrapper > label {
    font-size: 12px;
    line-height: 1;
    text-align: center;
    display: block;
    padding: 0 12px;
    color: #F1F2F4;
}

.maintenance-wrapper .logo > span {
    display: inline-flex;
    flex-basis: 140px;
    justify-content: center;
    align-items: center;
    font-size: 140px;
    line-height: 1;
    font-weight: bold;
    cursor: default;
    text-shadow: 0 0 0 #ffffff, 0 0 0 #ffffff, 0 0 0 #0000ff, 0 0 0 #0000ff, 0 0 0 #0000ff, 0 0 0 #0000ff, 0 0 0 #0000ff;
    animation: shading 12s linear infinite;
    color: #FFF;
}

.maintenance-wrapper > .maintenance-content {
    padding: 1.5rem;
    width: min(100%, 540px);
    text-align: center;
    flex: 1;
}

.maintenance-wrapper > .maintenance-content > h1 {
    font-size: 24px;
    line-height: 1;
    display: flex;
    gap: 0 12px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    align-items: center;
    font-weight: bold;
    letter-spacing: 3px;
    color: #E3C37A;
    animation: blinking 3s linear infinite;
    justify-content: center;
}

.maintenance-wrapper > .maintenance-content > h1::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #E3C37A;
    animation: blinking-bg 3s linear infinite;
}

.maintenance-wrapper > .maintenance-content > p {
    padding: 1.5rem;
    background: transparent;
    color: #F1F2F4;
    border-radius: 12px;
    line-height: 1.2;
    border: 5px solid white;
    box-shadow: 0 0 5px #ffffff, 0 0 10px #73A8F7, 0 0 15px #73A8F7;
}

@keyframes blinking {
    0%, 40%, 60%, 80%, 100% {
        color: #E3C37A;
    } 50%, 90% {
        color: transparent;
    }
}

@keyframes blinking-bg {
    0%, 40%, 60%, 80%, 100% {
        background: #E3C37A;
    } 50%, 90% {
        background: transparent;
    }
}

@keyframes glowingtext {
    0%, 100% {
        text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #0000ff, 0 0 20px #0000ff, 0 0 25px #0000ff, 0 0 30px #0000ff, 0 0 35px #0000ff;
    } 30%, 80% {
        text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #0000ff, 0 0 40px #0000ff, 0 0 50px #0000ff, 0 0 60px #0000ff, 0 0 70px #0000ff;
    }
}

@keyframes shading {
    0%, 100% {
        text-shadow: 0 0 0 #ffffff, 0 0 0 #ffffff, 0 0 0 #73A8F7, 0 0 0 #73A8F7, 0 0 0 #73A8F7, 0 0 0 #73A8F7, 0 0 0 #73A8F7;
    } 25% {
        text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #A5E5D4, 0 0 20px #A5E5D4, 0 0 25px #A5E5D4, 0 0 30px #A5E5D4, 0 0 35px #A5E5D4;
    } 50% {
        text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #FECACA, 0 0 20px #FECACA, 0 0 25px #FECACA, 0 0 30px #FECACA, 0 0 35px #FECACA;
    } 75% {
        text-shadow: 0 0 0 #ffffff, 0 0 0 #ffffff, 0 0 0 #73A8F7, 0 0 0 #73A8F7, 0 0 0 #73A8F7, 0 0 0 #73A8F7, 0 0 0 #73A8F7;
    }
}